.projects {

	width: 80%;
	margin: auto;
	margin-top: 40px;

	ul {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 40px;

		@include modular-bp(em(700)) {
			grid-template-columns: repeat(2,1fr);
		}

		@include modular-bp(em(1000)) {
			grid-template-columns: repeat(3,1fr);
		}

		@include modular-bp(em(1200)) {
			grid-template-columns: repeat(4,1fr);
		}
	}

	li {
		list-style: none;
	}

	h2 {
		font-weight: bold;

		a {
			text-decoration: none;
		}
	}
}
